PT_Task1/.vs/**/*.*
PT_Task1/packages/**/*.*
PT_Task1/TestResults/**/*.*
PT_Task1/PT_Task1/bin/**/*.*
PT_Task1/PT_Task1/obj/**/*.*
PT_Task1/Task1_Test/bin/**/*.*
PT_Task1/Task1_Test/obj/**/*.*

PT_Task2/**/.vs/**/*.*
PT_Task2/**/packages/**/*.*
PT_Task2/**/TestResults/**/*.*
PT_Task2/**/bin/**/*.*
PT_Task2/**/obj/**/*.*
